@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@100;200&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: rgb(231,239,249);
    background: linear-gradient(85deg, rgba(231,239,249,1) 32%, rgba(255,255,255,1) 62%);

}

.logo {
    text-decoration: none;
    color: #010240;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #010240;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.col-md-6 h1 {
    font-family: poppins;
    font-size: 50px;
    font-weight: bolder;
}

p {
    font-weight: bold;
}

.first_left {
    padding-top: 200px;
    margin-left: 50px;
}

.running {
    background-color: #010240;
    height: 75px;
}

.exchange {
    float: left;
}

.foreign {
    color: #ffff;
    background-color: #000000;
    height: 75px;
    width: 350px;
    margin-left: -15px;
    padding-top: 25px;
    padding-left: 60px;
}

.rates {
    width: 1150px;
    padding-top: 20px;
}

.rates img {
    width: 30px;
    border-radius: 100%;
}

.rates p {
    margin: 0 20px;
    padding-top: 5px;
    color: #ffff;
    overflow: auto;
}

.value {
    float: left;
}